/*
 *  Codetrotters Intro to Web Development Fall 2016
 *  CSS File Portfolio Project
 *  Arturo Santiago-Rivera
 */

body {
  font-family: 'Open Sans', sans-serif;
}

#myHeader {
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 15px 0px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.37);
  color: #eeeeee;
  text-align: center;
}

#myHeader img {
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: 30px;
}

#myHeader h1 {
  float: left;
  margin: 3px 0;
  padding-left: 10px;
  font-weight: 800;
  font-size: 1.5em;
}

#myHeader .navbar-toggle {
    margin: 0 019px 0 0;
    padding: 5px;
}

#myHeader .icon-bar {
    background-color: #f5f5f5;
}

#myHeader ul {
  float: right;
  margin-top: 6px;
  margin-right: 20px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 1em;
}

#myHeader ul li,
#myFooter ul li {
  display: inline-block;
  margin: 0 15px;
}

#myHeader #nav-h a,
#myFooter #nav-f a {
  color: #eeeeee;
}

#myHeader #nav-h a:hover,
#myFooter #nav-f a:hover {
    border-bottom: 2px solid #ffffff;
    text-decoration: none;
    font-style: italic;
}

#myContent h3 {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 4px;
  border-bottom: 4px solid #f5f5f5;
  color: #ffffff;
  font-weight: 500;
  font-size: 2.75em;
}

#myContent h4 {
  color: #FF9800;
  font-weight: 600;
  font-size: 2em;
  margin: 20px 0px;
  display: inline-block;
}

#myContent .collapse {
    height: 0;
}

#myContent .slide {
    top: 0;
    left: 0;
    overflow: hidden;
    padding-bottom: 20px;
    width: 100vw;
    height: auto;
    transition: all 2s ease-in-out;
    /* position: absolute; */
}

#myContent p span {
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

#myContent a {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.4em;
}

#myContent a h4 {
  color: #FF9800;
  font-weight: 600;
  font-size: 1.4em;
}

#myContent a:hover,
#myContent a h4:hover {
    margin-bottom: 20px;
    padding-bottom: 3px;
    border-bottom: 4px solid #23527c;
    color: #23527c;
    text-decoration: none;
}

#myContent p {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 1.15em;
    color: #f5f5f5;
}

#myContent #about-section {
    z-index: 100;
    padding-top: 60px;
    background-color: #009688;
}

#myContent #about-section img {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 0;
    width: 250px;
    border: 5px double #ffffff;
}

#myContent #about-section p {
  margin: 0;
  padding-bottom: 20px;
  color: #f5f5f5;
  text-align: justify;
  font-weight: 400;
  font-size: 1.3em;
}

#myContent #project-section {
    z-index: 200;
    padding-top: 60px;
    background-color: #FF9800;
}

#myContent #project-section .frames {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px dotted #222222;
    text-align: center;
}

#myContent #project-section .proj-frame {
  position: relative;
  display: block;
  margin-bottom: -240px;
  margin-left: -88px;
  width: 438px;
  height: 630px;
  border: none;
  border-radius: 20px;
  transform: scale(0.6);
  transform-origin: top;
}

#myContent #goals-section {
    z-index: 300;
    padding-top: 60px;
    background-color: #E91E63;
}

#myContent #skills-section {
    z-index: 400;
    padding-top: 60px;
    background-color: #f5f5f5;
}

#myContent #skills-section h3 {
    color: #e91e63;
    border-bottom: 4px solid #F06292;
}

#myContent #skills-section .charts {
    display: block;
    padding: 0px 15px;
}

#myContent #education-section {
    z-index: 500;
    padding-top: 60px;
    background-color: #00BCD4;
}

#myContent #work-section {
    z-index: 600;
    padding-top: 60px;
    background-color: #78909C;
}

#myContent .triangle-right,
#myContent .triangle-left {
  position: initial;
  left: 0;
  right: 0;
  top: 0;
  height: 6.25rem;
  z-index: 100;
}

#myContent .triangle-left svg,
#myContent .triangle-right svg {
  height: 100%;
  width: 100%;
}

#myContent .sep01 {
  fill: #009688;
  background-color: #ff9800;
}

#myContent .sep02 {
  fill: #e91e63;
  background-color: #ff9800;
}

#myContent .sep03 {
  fill: #e91e63;
  background-color: #f5f5f5;
}

#myContent .sep04 {
  fill: #00bcd4;
  background-color: #f5f5f5;
}

#myContent .sep05 {
  fill: #00bcd4;
  background-color: #78909c;
}

#myFooter {
  /* position: fixed; */
  padding: 15px 0px;
  width: 100vw;
  height: 75px;
  background-color: #000000;
  text-align: center;
  border-top: 5px solid #999;
}

#myFooter #nav-f ul {
  margin: 5px 0 5px 0;
  padding: 0 0 0 12px;
  color: #ffffff;
  list-style: none;
  font-weight: 700;
  font-size: 1.5em;
  float: left;
}

#myFooter img {
    float: right;
    margin: 0 40px 0 0;
    width: 40px;
}
@media screen and (max-width: 767px) {
  #myHeader #nav-h ul {
    margin-right: 0;
  }
  #myContent #about-section,
  #myContent #project-section,
  #myContent #goals-section,
  #myContent #skills-section,
  #myContent #education-section,
  #myContent #work-section {
    padding-top: 100px;
  }
  #myContent #project-section .proj-frame {
    margin-left: -55px;
  }
  #myFooter img {
      margin-right: 147px;
      width: 40px;
  }
  #myFooter {
    height: 110px;
  }
}
