/*
  Codetrotters Intro to Web Development Fall 2016
  CSS File Portfolio Project
  Arturo Santiago-Rivera
*/

body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}


/* myNavbar section */

.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .5);
    color: #eeeeee;
    text-align: center;
}

.logo-h {
    float: left;
    margin-left: 20px;
}

.logo-h img {
    width: 40px;
}

.logo-h span {
    margin-left: 10px;
    font-size: 1.5em;
    vertical-align: middle;
}

.navbar-toggle {
    margin: 0 10px 0 0;
    padding: 3px;
}

button .fa-code {
    padding: 0;
}

.nav {
    float: right;
    margin-right: 0;
    padding: 10px 0;
    list-style: none;
    font-weight: 500;
    font-size: 1em;
    line-height: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: #eeeeee;
}

.nav a:hover {
    margin: 0 13px;
    padding-right: 2px;
    padding-left: 2px;
    border-bottom: 3px solid #ffffff;
    background-color: transparent;
    text-decoration: none;
    transition: .2s;
}

.active {
    margin: -10px;
    padding: 8px 8px;
    border: none;
    border-radius: 10px;
    background-color: rgb(27, 127, 204);
    background-color: rgba(27, 127, 204, .8);
    text-decoration: none;
    font-weight: bolder;
}


/* myContent section */

.fixed-bg-img {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/coding03.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.typing {
    margin: 0;
    position: relative;
    top: 45%;
    left: 0;
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    text-shadow: 2px 2px 8px #FF0000;
}

#myContent h3 {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 4px;
    border-bottom: 4px solid #f5f5f5;
    color: #ffffff;
    font-weight: 600;
    font-size: 2.75em;
}

#myContent h4 {
    display: inline-block;
    margin: 20px 0;
    color: #ff9800;
    font-weight: 400;
    font-size: 2em;
}

#myContent p {
    margin-bottom: 20px;
    color: #f5f5f5;
    text-align: justify;
    font-size: 1.15em;
}

#myContent p span {
    padding-right: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

#myContent ul {
    margin-bottom: 20px;
    padding-left: 10px;
    color: #fff;
    list-style: none;
    font-size: 1.15em;
}

#myContent a {
    color: #fff;
    font-weight: 600;
    font-size: 1.3em;
}

#myContent a:hover,
#myContent h4 a:hover {
    padding-bottom: 3px;
    border-bottom: 4px solid #ff9800;
    color: #ff9800;
    text-decoration: none;
}


/* typical class for topic sections */

.pad-tb {
    padding-top: 50px;
    padding-bottom: 50px;
}

.scrolling {
    position: relative;
    z-index: 2;
}

.fa {
    padding-right: 15px;
    padding-left: 15px;
}

.top-row {
    padding-bottom: 20px;
}

.bottom-row {
    padding-top: 20px;
}


/* about topic section */

.about-sec-color {
    background-color: #166caf;
}

#about-section img {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 0;
    width: 250px;
    border: 5px double #fff;
}

#about-section p {
    margin: 0;
    padding-bottom: 20px;
    color: #f5f5f5;
    text-align: justify;
    font-weight: 400;
    font-size: 1.3em;
}


/* project topic section */

#project-section {
    background-image: url('../img/coding01.png');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.project-sec-color {
    /*background-color: #ff9800;*/
}

.frames {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px dotted #000000;
    text-align: center;
}

.proj-frame {
    display: block;
    margin-bottom: -230px;
    margin-left: -72px;
    width: 500px;
    height: 630px;
    border: none;
    transform: scale(.6);
    transform-origin: top;
}


/*goals topic section*/

.goals-sec-color {
    background-color: #e91e63;
}


/*skills topic section*/

.skills-sec-color {
    background-color: #f5f5f5;
}

#skills-section h3 {
    border-bottom: 4px solid #f06292;
    color: #e91e63;
}

#skills-section .charts {
    display: block;
    padding: 0 15px;
}


/* education topic section */

.edu-sec-color {
    background-color: #3f51b5;
}


/* work topic section */

#work-section {
    background-image: url('../img/coding02.png');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.work-sec-color {
    /*background-color: #78909c;*/
}


/* Flip Panel */

.panel {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 300px;
    position: relative;
    margin-bottom: 10px;
    background-color: transparent;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}

.panel .front,
.panel .back {
    text-align: center;
}

.panel .front {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 900;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel .back {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 1000;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

.box1 {
    background-color: #78909c;
    width: 390px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.box1 span {
    font-size: 1.2em;
}

.box2 {
    background-color: #ff7e70;
    width: 390px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


/*contact topic section*/

.contact-sec-color {
    background-color: #00bcd4;
}

#email {
    margin: 8px 0;
}

#email,
#mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*myFooter section*/

#myFooter {
    position: relative;
    width: 100vw;
    border-top: 10px solid #666;
    background-color: #272525;
    z-index: 10;
}

.social-networks {
    margin-right: 35px;
    margin-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.social-networks ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.25em;
}

.social-networks ul li {
    display: inline-block;
    margin: 0 3px;
}

.social-networks a {
    color: #eeeeee;
}

.social-networks .link-in:hover {
    color: #0077B5;
}

.social-networks .link-twit:hover {
    color: #1dcaff;
}

.social-networks .link-git:hover {
    color: #6cc644;
}

.social-networks .link-doc:hover {
    color: #df9409;
}

.social-networks img {
    float: right;
    width: 40px;
    vertical-align: text-top;
}

.copyright p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: .95em;
}

.copyright span {
    font-size: .75em;
}


/* separators */

.triangle3060-ft-rl,
.triangle3060-fb-rl,
.triangle3060-ft-lr,
.triangle3060-fb-lr {
    top: 0;
    right: 0;
    left: 0;
    height: 8rem;
}

.triangle3060-ft-rl svg,
.triangle3060-fb-rl svg,
.triangle3060-ft-lr svg,
.triangle3060-fb-lr svg {
    width: 100%;
    height: 100%;
}

.sep01 {
    background-color: transparent;
    fill: #166caf;
    position: relative;
    top: 78vh;
    z-index: 3;
}

.sep02 {
    background-color: transparent;
    fill: #166caf;
}

.sep03 {
    background-color: transparent;
    fill: #e91e63;
}

.sep04 {
    background-color: #e91e63;
    fill: #f5f5f5;
}

.sep05 {
    background-color: #3f51b5;
    fill: #f5f5f5;
}

.sep06 {
    background-color: transparent;
    fill: #3f51b5;
}

.sep07 {
    background-color: transparent;
    fill: #00bcd4;
}


/* media queries */

@media (max-width: @screen-sm-max) {
    .nav {
        margin-right: 0;
    }
    .nav li {
        margin-top: 15px;
        margin-bottom: 0;
    }
    #myContent h1 {
        font-size: 2em;
    }
    .sep01 {
        top: 72vh;
    }
    .social-networks ul {
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 1.2em;
    }
    .copyright p {
        font-size: .75em;
    }
}
